@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

a.active{
  @apply text-pink-500
}

.tabs a.active{
  @apply bg-gradient-to-r from-[#6c54ad] to-[#f04762] text-white
}

.tabs a{
  @apply py-1.5
}


.nav-link a{
  font-size: large;
}


.hero-image {
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

/* .hero-image.loading {
  opacity: 0;
} */

.hero-image.loaded {
  opacity: 1;
}